@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('./fonts/Raleway-Bold.ttf') format('ttf');
}

.title {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Raleway Bold';
  text-align: center;
}
